{
  "presets": ["latest", "react", "es2015", "stage-0"],
  "plugins": ["transform-runtime"],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    },
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-remove-prop-types"
      ]
    }
  }
}
