footer{
  background:#666666;
  padding: 25px 0;
  margin-top: calc(100vh - 335px);
  position: relative;
  height: 120px;
  clear:both;
  padding-top:20px;
 }
footer p, footer a { color:#b5b5b5; font-size:14px; }
footer a:hover { color:#fff; text-decoration: none;}
footer .connect li a {
  font-size: 36px;
}
.phantom {
  display: block;
  padding: 20px;
  height: 60px;
  width: 100%;
}
